.nav-header {
  min-width: 100%;
  margin: auto;

  .nav-header-content {
    padding: 10px 0;
    display: flex;
    margin: 0 auto;
    max-width: 78rem;
    @media screen and (max-width: $tablet-breakpoint) {
      padding: 10px;
    }
    @media screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;
    }

    .sub-content {
      display: inline-flex;
      flex: 1;

      .nav-items {
        margin: 0 auto;
        display: inline-flex;
        align-items: center;
        .item {
          margin: 0 5px;
        }
      }
    }
  }
}
