.root {
  position: relative;
  &.feature {
    height: 500px;
    display: flex;
    
    .gradient-bg {
      display: flex;
      align-items: center;
      .section {
        width: 100%;
      }
    }

    @media screen and (max-width: $mobile-breakpoint) {
      height: auto;
    }
  }
  .section {
    max-width: 78rem;
    margin: 0 auto;
    padding: 1.5rem 0;

    @media screen and (max-width: 78rem) {
      padding-right: 15px;
      padding-left: 15px;
    }

    &.flex {
      display: flex;

      .sub-section {
        flex: 1;
        margin: 0 10px;
      }

      @media screen and (max-width: $mobile-breakpoint) {
        flex-direction: column;
      }
    }

    &.grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
  }
}

.gradient-bg {
  background-image: linear-gradient(to right, rgba(20.78%, 24.31%, 30.98%, .75) 150px, rgba(29.80%, 31.76%, 36.08%, 0.50) 100%);
  color: white;
  height: 100%;
  width: 100%;
}