$black: #222222;
$white: #FFF;
$green: #84DCC6;
$grey: #4A4E69;
$light-grey: rgba(235,235,245,.6);
$grey-blue: #95A3B3;
$blue: #4B4E6D;


$mobile-breakpoint: 550px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;