@import './variables';
@import './layout';
// @import './header';
// @import './carousel';
// @import './typeahead';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

button {
  cursor: pointer;
  font-weight: bold;
  background: $white;
  font-size: 16px;
  border: 2px solid $green;
  color: $green;
  border-radius: 10px;
  padding: 10px;

  &:hover {
    background: $green;
    color: $white;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.vertical-scroll {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  max-height: 405px;

}

.vertical-card {
  background: white;
  border-radius: 10px;
  margin: 5px;
  font-size: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  scroll-snap-align: start;

  a, .flex-card {display: flex;align-content: flex-start;}

  .img-container {
    display: flex;

    img {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  .card-info {
    text-align: left;
    padding: 15px;
  }
}

.card-info {
  color: $black;
  text-align: center;

  .person-name {
    font-size: 14px;
    font-weight: 500;
  }

  .character-name {
    font-size: 12px;
  }
}

ul {
  list-style-type: none;
}
.grid-shelf {
  margin: 10px 0;
  display: grid;
  grid-auto-columns: 155px;
  grid-auto-flow: column;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  grid-gap: 15px;
  overflow-y: hidden;
  overflow-x: auto;

  .grid-item {
    scroll-snap-align: start;
  }
}


.hero {
  .hero-info {
    padding: 15px;
    font-size: 14px;
    max-width: 400px;
  }
  .extra-info {
    padding: 15px;
  }
}

.grid-info {
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}


.group {
  margin: 10px 0;
  .sub-group {
    margin-right: 10px;
  }
}

.sub-title {
  font-size: 10px;
  text-transform: uppercase;
  color: $light-grey;
  margin: 3px 0;

  &.dark {
    color: $black;
  }
}