
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
@import './variables';
// @import './header';
// @import './carousel';
// @import './typeahead';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  scroll-behavior: smooth;
  color:#465165;
}

button {
  cursor: pointer;
  font-weight: bold;
  background: $white;
  font-size: 16px;
  border: 2px solid $green;
  color: $green;
  border-radius: 10px;
  padding: 10px;

  &:hover {
    background: $green;
    color: $white;
  }
}