
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
@import './variables';
// @import './header';
// @import './carousel';
// @import './typeahead';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  scroll-behavior: smooth;
  color:#465165;
}